/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* styles.css */
.swiper {
  /* Additional styles for the swiper container */
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  /* Automatically adjust height */
}

/* Media queries for custom styles */
@media (max-width: 640px) {
  .swiper {
    height: 60vh;
    /* Adjust height for mobile */
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .swiper {
    height: 70vh;
    /* Adjust height for tablets */
  }
}

@media (min-width: 769px) {
  .swiper {
    height: 80vh;
    /* Adjust height for desktops */
  }
}





/* Services.css (Optional) */
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
  /* Slightly scale up on hover */
}


/* About.css */
.underline {
  text-decoration: underline;
  text-decoration-color: #007bff;
  text-decoration-thickness: 2px;
}

.about-image-container {
  overflow: hidden;
  border-radius: 8px;
}

.about-image {
  transition: transform 0.3s ease;
}

.about-image-container:hover .about-image {
  transform: scale(1.1);
}







/* .testimonial-image img {
  height: 150px;
  width: 150px;
} */


.testimonial-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.client-image {
  border: 2px solid #007bff;
}

.client-name {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
}

.client-feedback {
  font-style: italic;
  color: #555;
}