/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* styles.css */
.swiper {
  /* Additional styles for the swiper container */
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  /* Automatically adjust height */
}

/* Media queries for custom styles */
@media (max-width: 640px) {
  .swiper {
    height: 60vh;
    /* Adjust height for mobile */
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .swiper {
    height: 70vh;
    /* Adjust height for tablets */
  }
}

@media (min-width: 769px) {
  .swiper {
    height: 80vh;
    /* Adjust height for desktops */
  }
}





/* Services.css (Optional) */
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
  /* Slightly scale up on hover */
}


/* About.css */
.underline {
  text-decoration: underline;
  text-decoration-color: #007bff;
  text-decoration-thickness: 2px;
}

.about-image-container {
  overflow: hidden;
  border-radius: 8px;
}

.about-image {
  transition: transform 0.3s ease;
}

.about-image-container:hover .about-image {
  transform: scale(1.1);
}




.testimonial-card {
  background: #f8f9fa;
  /* Light background */
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  transition: transform 0.3s;
  /* Smooth transition */
}

.testimonial-card:hover {
  transform: scale(1.05);
  /* Slight zoom effect on hover */
}

.client-image {
  /* width: 80px; */
  /* Adjust image size */
  /* height: 80px; */
  /* Adjust image size */
  height: 100%;
  width: 100%;
}

.star {
  color: gold;
  /* Gold color for stars */
}


.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  /* Change button color to make them visible */
  z-index: 10;
  /* Ensure they appear above other elements */
  width: 40px;
  /* Adjust button size */
  height: 40px;
  /* Adjust button size */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #f39c12;
  /* Change color on hover */
}


.testimonial-image img{
  height: 150px;
  width: 150px;
}
